body{
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.3em;
  letter-spacing: 2px;
}
.panel{
  width:900px;
  margin: 40px auto;
  border: 1px solid #000;
  height:auto;
  overflow:auto;
}
img {
  border-radius: 50%;
}
#img {
  padding: 40px 0;
  margin: 0 50px;
}
.left {
  float:left;
  width:40%;
  padding: 35px 0;
}
.right {
  float:right;
  background-color:#79C6C8;
  width:60%;
  padding: 35px 0;
}
#name {
  font-size: 55px;
  letter-spacing: 5px;
  word-wrap: break-word;
  color: #79C6C8;
  line-height: normal;
  padding-left: 0;
  text-transform: uppercase;
}
#position-name {
  font-size: 18px;
  line-height: 1.2em;
  padding-left: 0;
  padding-bottom: 70px;
  font-weight: 400;
}
.content-left {
  font-weight: bold;
  margin: 0 25px;
  padding:10px 10px;
  font-size: 18px;
  background-color: #79C6C8;
}
.content-right {
  background-color: #ffffff;
}
.trans {
  background-color:transparent;
  padding-bottom: 25px;
}
#p {
  letter-spacing: 1px;
}
.num {
  font-size: 12px;
  padding: 10px 0 25px 0;
  line-height: 1em;
  font-weight: 500;
}
.txt {
  font-size: 16px;
  font-weight: normal;
  padding-bottom: 5px;
}
.txt-uppercase {
  text-transform: uppercase;
}
.list {
  font-size:15px;
  font-weight: 400;
}
.txt-bold {
  font-weight: bold;
}
